#home {
  background-color: var(--jet-black);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-banner {
  width: 900px;
  padding: 64px 32px;
  position: relative;
  margin-bottom: 75px;
}

.greetings-banner {
  display: grid;
  grid-template-columns: auto auto;
}

.greetings {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  color: white;
}

.greetings h1 {
  color: white;
}

.hello {
  /* font-size: 2rem; */
  font-size: clamp(1.5rem, 4vw, 2rem);
}

.my-name {
  /* font-size: 5rem; */
  font-size: clamp(3.5rem, 4vw, 5rem);
  color: var(--bright-blue);
  letter-spacing: 4px;
  font-family: "Anton", Arial, sans-serif;
}

.my-picture {
  border: 5px solid var(--gray);
  max-width: 100%; /* Ensures the image does not exceed its container */
  height: auto; /* Maintains the aspect ratio */
  display: block; /* Removes extra spacing below inline images */
  margin: 0 auto; /* Centers the image */
  border-radius: 50%; /* Optional: Adds rounded corners for a smoother look */
}

.call-to-action {
  display: flex;
  align-items: center;
}

.call-to-action a img {
  color: var(--bright-blue);
}

.down-icon {
  color: white;
}

.cta-btn {
  position: absolute;
  padding: 15px 50px;
  font-size: 1.1rem;
  border: 2px solid var(--bright-blue);
  background-color: var(--matte-black);
  color: var(--bright-blue);
  letter-spacing: 3px;
  bottom: -20px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.1s ease-in;
}

.cta-btn:hover {
  margin-bottom: 5px;
  box-shadow: 0 0 10px 1px var(--bright-blue);
}

@media only screen and (max-width: 768px) {
  #home {
    padding: 50px 15px;
  }
  .home-banner {
    width: 100%;
    margin-bottom: unset;
  }
  .greetings-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .greetings {
    margin-top: 16px;
    text-align: center;
  }
  .call-to-action {
    justify-content: center;
  }
  .my-picture {
    width: 40%;
  }
  .cta-btn {
    position: static;
    bottom: unset;
    padding: 10px 15px;
    font-size: 1rem;
    margin-top: 20px;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .my-picture {
    width: 80%; /* Makes the image fully responsive on mobile */
  }
}
